.description-line {
  font-size: 15px;
  padding-right: 4em;
  margin-top: 1em;
  margin-left: 5.75em;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  border-left: 2px solid #3a4750;
  letter-spacing: 1px;
  animation: descriptionLineAnimation 2s ease 0s 1 normal forwards;

  h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    padding-left: 1em;
    color: white;
  }

  h3 {
    animation: descriptionLineAnimation 1s ease 0s 1 normal forwards;
  }
}

.slim-line {
  border: 1px solid #3a4750;
}

@keyframes descriptionLineAnimation {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(-2px);
  }
}
