.sub-header-line {
    font-family: 'Roboto', sans-serif;
    padding: 0 5em;
    color: white;

    h2{
        font-size: 25px;
        font-weight: 400;
        letter-spacing: 1px;
    }
}

.timeline-card {
    border: #2185d5 solid 2px;
    border-radius: 39px;
    padding: 0.3em 0.6em;
    font-size: larger;
    align-content: center;
    height: fit-content;
}

.timeline-card:hover{
    background-color: #2185d5;
    color: white;
    animation: timelineCardAnimation 1s ease 0s 1 normal forwards;
}

@keyframes timelineCardAnimation {
    0% {
        transform: scaleX(0.5);
    }

    100% {
        transform: scaleX(1);
    }
}

.main-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 40em;
}

.sub-line{
    margin-top: -0.5em;
    font-size: 17px;
    font-weight: 100;
}