.research-card--list {
    padding-top: 2em;
    display: grid;
    max-width: 1300px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
}

.overview-container {
    padding-top: 5em;
}

.back-btn {
    height: 3em;
    font-size: large;
    border-radius: 5em;
    width: 8em;
    background-color: #3a4750;
    color: white;
    border: #2185d5 solid 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

