img {
    vertical-align: middle;
    text-align: center;
    max-width: 500px;
    max-height: 300px;
    padding: 0.5em;
}

.row {
    text-align: center;

}

.desc {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
    padding: 0.4em 0;
    text-align: justify;
    font-weight: 300;
}

.desc__container{
    padding: 1em 0;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: white;
}

.main-container {
    padding: 5em 5% 0 5%;

    .back-btn-container {
        padding-top: 1em;
    }
}

.image--inline {
    padding: 2em;
    display: flex;

    img {
        max-width: 400px;
    }
}

back-btn-container {
    padding-top: 1em;
}