
.publication-content {
  .publication-line--header {
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 1px;
    color: whitesmoke;
    line-height: 2.5em;
  }

  .publication-line--detailed {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.5px;
  }

  .publication-line--ref {
    font-size: 18px;
    letter-spacing: 0.5px;
  }
}
.author-highlighted {
  color: #2185d5;
  font-weight: 900;
}

.slim-line {
  border: 1px solid #3a4750;
  max-width: 30em;
}
